# Import Libraries & Datasets

In [2]:
# Import necessary packages
import pandas as pd
import numpy as np

# Import datasets
airbnb_price = pd.read_csv("data/airbnb_price.csv")
airbnb_room_type = pd.read_excel("data/airbnb_room_type.xlsx")
airbnb_last_review = pd.read_csv("data/airbnb_last_review.tsv", sep = '\t')

In [3]:
airbnb_price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [4]:
airbnb_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [5]:
airbnb_room_type.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [6]:
airbnb_room_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [7]:
airbnb_last_review.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [8]:
airbnb_last_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

# What are the dates of the earliest and most recent reviews?

In [9]:
# Earliest and most recent review dates
airbnb_last_review['last_review'] = pd.to_datetime(airbnb_last_review['last_review'])
earliest_review = airbnb_last_review['last_review'].min()
most_recent_review = airbnb_last_review['last_review'].max()

print(earliest_review)
print(most_recent_review)

2019-01-01 00:00:00
2019-07-09 00:00:00

# How many of the listings are private rooms?

In [10]:
# Normalize all values in the 'root_type' column
airbnb_room_type['room_type'] = airbnb_room_type['room_type'].str.lower()
airbnb_room_type['room_type'].value_counts()

room_type
entire home/apt    13266
private room       11356
shared room          587
Name: count, dtype: int64

In [11]:
# Count of private rooms
private_rooms = airbnb_room_type[airbnb_room_type['room_type'] == 'private room'].shape[0]

print(private_rooms)

11356

# What is the average listing price?

In [12]:
# Remove non-numeric characters and convert to float
airbnb_price['price'] = airbnb_price['price'].str.replace(' dollars', '', regex=False).astype(float)

# Average listing price
average_price = airbnb_price['price'].mean().round(2)

print(average_price)

141.78

# Combine the new variables into one DataFrame.

In [13]:
# Combine into a DataFrame
review_dates = pd.DataFrame({
    'first_reviewed': [earliest_review],
    'last_reviewed': [most_recent_review],
    'nb_private_rooms': [private_rooms],
    'avg_price': [average_price]
})

review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78